extends /example.pug

block title
  | Grid

block content
  h1 Grid
  
  p Responsive
  
  .grid1
    - for (var i=1; i <= 10; i++)
      div(class=`item${i}`)= `item${i}`

  p Grid area
  
  .grid2
    .header Header
    .main Main
    .sidebar Sidebar
    .footer Footer
