$break-small: 400px;
$break-medium: 600px;

div[class^="grid"] {
  margin-bottom: 1rem;
}

.grid1 {
  display: grid;
  grid-gap: 20px 5px;  // <row-gap> <col-gap>
  background: papayawhip;

  grid-template-columns: repeat(5, 1fr);

  div[class^="item"] {
    background-color: plum;
  }

  @media screen and (max-width: $break-medium) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
  }
}

.grid2 {
  display: grid;
  grid-gap: 10px 5px;
  background: peachpuff;

  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";

  & > div {
    padding: 0.5rem;
    text-align: center;
  }

  .header {
    grid-area: header;
    background: palegreen;
  }
  .main {
    grid-area: main;
    background: lightcyan;
  }
  .sidebar {
    grid-area: sidebar;
    background: lightsalmon;
  }
  .footer {
    grid-area: footer;
    background: burlywood;
  }
}

.grid3 {
  display: grid;
  background: khaki;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: end;
  align-items: stretch;

  div[class^="item"] {
    background-color: orchid;
    padding: 0.3rem;
  }
}

.grid4 {
  display: grid;
  grid-gap: 5px;
  grid: 1fr 1fr / 30px repeat(10, 1fr);
  background: lightsteelblue;
  text-align: center;

  .gutter {
    background: lemonchiffon;
    grid-area: 1 / 1 / 3 / 1;
  }
  .header {
    background: lightpink;
    grid-area: 1 / 2 / 2 / 12;
  }
  div[class^="cell"] {
    background: olive;
    color: white;
  }

  @media screen and (max-width: $break-small) {
    grid: repeat(6, 1fr) / 30px repeat(2, 1fr);
    .gutter {
      grid-area: 1 / 1 / 7 / 2;
    }
    .header {
      grid-area: 1 / 2 / 2 / 4;
    }
  }
}
