$break-small: 400px;
$break-medium: 600px;

div[class^="grid"] {
  margin-bottom: 1rem;
}

.grid1 {
  display: grid;
  grid-gap: 20px 5px;  // <row-gap> <col-gap>
  background: papayawhip;

  grid-template-columns: repeat(5, 1fr);

  div[class^="item"] {
    background-color: plum;
  }

  @media screen and (max-width: $break-medium) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $break-small) {
    grid-template-columns: 1fr;
  }
}

.grid2 {
  display: grid;
  grid-gap: 10px 5px;
  background: peachpuff;

  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";

  & > div {
    padding: 0.5rem;
    text-align: center;
  }

  .header {
    grid-area: header;
    background: palegreen;
  }
  .main {
    grid-area: main;
    background: lightcyan;
  }
  .sidebar {
    grid-area: sidebar;
    background: lightsalmon;
  }
  .footer {
    grid-area: footer;
    background: burlywood;
  }
}

.grid3 {
  display: grid;
  background: khaki;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: end;
  align-items: stretch;

  div[class^="item"] {
    background-color: orchid;
    padding: 0.3rem;
  }
}

.grid4 {
  display: grid;
  grid-gap: 5px;
  grid: 1fr 1fr [row-end] / 30px repeat(10, 1fr) [col-end];
  background: lightsteelblue;
  text-align: center;

  .edge {
    background: lemonchiffon;
    grid-area: 1 / 1 / row-end / 1;
  }
  .header {
    background: lightpink;
    grid-area: 1 / 2 / 2 / col-end;
  }
  .cell {
    background: olive;
    color: white;
  }

  @media screen and (max-width: $break-small) {
    grid: repeat(6, 1fr) [row-end] / 30px repeat(2, 1fr) [col-end];
  }
}

.grid5 {
  $cell-width: 100px;
  display: grid;
  background: lightsteelblue;
  text-align: center;

  .cell {
    min-width: $cell-width;
    border: 1px solid gray;
    &:nth-child(odd) {
      background: lightpink;
    }
    &:nth-child(even) {
      background: lightyellow;
    }
  }
  grid: 1fr / 1fr 1fr;   // 1 row, 2 columns
  grid-auto-flow: row;   // add more rows
}

.grid6 {
  $cell-width: 100px;
  display: grid;
  background: lightsteelblue;
  text-align: center;

  .cell {
    min-width: $cell-width;
    border: 1px solid gray;
    &:nth-child(odd) {
      background: lightpink;
    }
    &:nth-child(even) {
      background: lightyellow;
    }
  }
  // Need to set the maximum number of columns, otherwise you end up with an
  // extra column when the screen is wider than your cells.
  grid-template-columns: repeat(10, 1fr);
  @media (max-width: 10 * $cell-width + 100) {
    // Not sure what the difference between auto-fill and auto-fit are, they
    // seem to work equally well here.
    grid-template-columns: repeat(auto-fill, minmax($cell-width, 1fr));
  }
}
