extends /example.pug

block title
  | Flexbox

block content
  h1 Flexbox

  p Space between elements

  .box1
    button.btn.btn-primary Click me!
    input.search(type='text', placeholder='Search for stuff...')
    
