extends /example.pug

block title
  | Flexbox

block content
  h1 Flexbox

  p Responsive: right element gets larger

  .box1
    button.btn.btn-primary Click me!
    input.search(type='text', placeholder='Search for stuff...')
  
  hr
  
  p Responsive: elements go on separate rows
  
  .box2
    button.btn.btn-primary Click me!
    input.search(type='text', placeholder='Search for stuff...')
  
  hr 
  
  p Perfect centering (vertical and horizontal)
  
  .box3
    .hello 你好世界！
  
  hr
      
  p Responsive navbar (right/centered/rows)
  
  .box4
    .nav-item Home
    .nav-item About
    .nav-item Shop
    .nav-item Gallery
    .nav-item Support
  
  hr
    
  p Flexbox wrap
  
  .box5
    - for (let i=1; i <= 10; i++)
      .item= `Box ${i}`
