extends /example.pug

block title
  | Centered Layout

block content
  main
    h1 Centered layout using margin:auto

    p This page uses <a href='https://sass-lang.com/'>Sass</a> for styling!
    
    p.big 这个文字很大 This text is big
    
    p Ho hum normal text
