extends /base.pug

block title
  | Sass Examples

block content
  h1 Sass Examples
  
  - 
    let examples = 'basic,flexbox'.split(/,/g)

  ul
    each ex in examples
      li
        a(href=`/${ex}/`)= ex
