extends /base.pug

block title
  | Sass Examples

block content
  h1 Sass Examples
  
  - 
    let examples = 'centered,flexbox,grid,partial-border'

  ul
    each ex in examples.split(/,/g)
      li
        a(href=`/${ex}/`)= ex
