doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      block title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles.scss')
    block extrahead
body.container
  block content
    
  script.
    const url = 'ws://' + document.location.host + '/reload'
    const socket = new WebSocket(url)
    socket.addEventListener('open', () => console.log('Opened'))
    socket.addEventListener('close', () => console.log('Closed'))
    socket.addEventListener('message', () => window.location.reload(true))
