doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title
      block title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='styles.scss')
    style.
      .debug-width {
        position: fixed;
        top: 0; 
        right: 0;
        padding: 0 0.3rem;
        font-size: 0.8rem;
        color: gray;
        background-color: gold;
        border: 1px solid gray;
      }
    block extrahead
body.container
  .debug-width ?
  
  block content
    
  script.
    const url = 'ws://' + document.location.host + '/reload'
    const socket = new WebSocket(url)
    //socket.addEventListener('open', () => console.log('Opened'))
    //socket.addEventListener('close', () => console.log('Closed'))
    socket.addEventListener('message', () => {
      sessionStorage.scrollTop = window.scrollY
      document.location.reload(true)
    })
    function update() {
      if (sessionStorage.scrollTop !== undefined) {
        let y = sessionStorage.scrollTop
        console.log(`Scroll to ${y}`)
        window.scrollTo(0, y)
        delete sessionStorage.scrollTop
      }
      document.querySelector('.debug-width').textContent = document.documentElement.clientWidth
    }
    window.onload = window.onresize = update
